<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!-- Navigation -->
<header th:replace="fragments :: header"></header>

<!-- User Input Form -->
<form method="post">
    <div class="form-group">
        <lable>Name
            <input class="form-control" type="text" name="heroName"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Level
            <input class="form-control" type="text" name="heroLevel"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Attack
            <input class="form-control" type="text" name="heroAtk"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Health
            <input class="form-control" type="text" name="heroHp"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Defense
            <input class="form-control" type="text" name="heroDef"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Critical Hit Chance
            <input class="form-control" type="text" name="heroCritHitChance"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Critical Hit Damage
            <input class="form-control" type="text" name="heroCritHitDamage"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Dual Attack Chance
            <input class="form-control" type="text" name="heroDualAttack"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Effectiveness
            <input class="form-control" type="text" name="heroEffectiveness"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Effect Resistance
            <input class="form-control" type="text" name="heroEffectResist"/>
        </lable>
    </div>
    <div class="form-group">
        <lable>Speed
            <input class="form-control" type="text" name="heroSpeed"/>
        </lable>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Create"/>
    </div>
</form>

</body>
</html>